.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  background: #855933;
  border-radius: 10px;
}

/* Grid for entire board */
.layout {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 15px repeat(8, 1fr) 15px;
  grid-template-rows: 15px repeat(8, 1fr) 15px;
  background: #2c4123;
}

.colLabels {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 2 / 10;
  grid-row: 1;
  justify-content: center;
  align-items: center;
}

.rowLabels {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1;
  grid-row: 2 / 10;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 0.5rem;
}

/* Subgrid for playable section of the board */
.playable {
  display: grid;
  grid-column: 2 / 10;
  grid-row: 2 / 10;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  gap: 2px;
}
