/* Score, and player name */
.playerInfo {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.playerScore {
  flex-direction: row-reverse; /* Elements in flexbox for player and computer scores are mirrored */
}

.scoreDiskBackground {
  width: 30px;
  height: 30px;
  line-height: 30px; /* Vertically centre text */
  font-weight: bold;
  border-radius: 50%;
  margin: 0 12px;
}

.dark {
  color: #f1e3d7;
  background: #090909;
  outline: 2px solid #1b2029;
}

.light {
  color: #090909;
  background: #f1e3d7;
  outline: 2px solid #d2bba7;
}

.turnIndicator {
  width: 12px;
  aspect-ratio: 20 / 24; /* Original image size in pixels */
}

.playerTurnIndicator {
  transform: scaleX(-1); /* Flip pointer image for player */
}

.activeTurnIndicator {
  filter: drop-shadow(0 0 3px #ffa600);
}
