.darken {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
}

.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  min-width: 380px;
  gap: 25px;
  background: #323138;
  border-radius: 10px;
  box-shadow: 0 0 5px #1b1b1f;
}

.popUpBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.loading {
  width: 40px;
  aspect-ratio: 1;
  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.saveOutcomeContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #7a7787;
}

.ok {
  color: #48ca48;
}

.fail {
  color: #e85a5c;
}

.uuid {
  display: flex;
  background-color: #7a7787;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  gap: 20px;
}

.uuid p {
  color: white;
  font-size: 1.2rem;
}

.uuid button {
  font-size: 1rem;
  min-width: 80px;
  padding: 8px 10px;
}

.copyButtonClicked {
  animation-name: flash;
  animation-duration: 1s;
}

.copyButtonClicked button:disabled {
  /* Disable button for 1s to let animation run to completion */
  background: #48ca48;
  border: 3px solid #48ca48;
}

@keyframes flash {
  from {
    background: #b7b3c7;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1400px) {
  .popUp {
    font-size: 1.4rem;
    padding: 50px 100px;
    min-width: 680px;
  }

  .uuid {
    font-size: 1.6rem;
  }
}
