.darken {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  min-width: 380px;
  gap: 25px;
  background: #323138;
  border-radius: 10px;
  box-shadow: 0 0 5px #1b1b1f;
}

@media (min-width: 1400px) {
  .popUp {
    font-size: 1.5rem;
    padding: 50px 100px;
    min-width: 680px;
  }
}
