.darken {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
}

.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  min-width: 380px;
  gap: 25px;
  background: #323138;
  border-radius: 10px;
  box-shadow: 0 0 5px #1b1b1f;
}

.popUpBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.loading {
  width: 40px;
  aspect-ratio: 1;
  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.saveOutcomeContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #7a7787;
}

.ok {
  color: #48ca48;
}

.fail {
  color: #e85a5c;
}

.uuid {
  color: white;
  font-size: 1.2rem;
  background-color: #7a7787;
  padding: 20px 25px;
  border-radius: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1400px) {
  .popUp {
    font-size: 1.5rem;
    padding: 50px 100px;
    min-width: 680px;
  }
}
