.darken {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
}

.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  min-width: 380px;
  gap: 25px;
  background: #323138;
  border-radius: 10px;
  box-shadow: 0 0 5px #1b1b1f;
}

.popUpBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  min-height: 50px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.redButton {
  background: #e85a5c;
  border: solid 3px #e85a5c;
}

.redButton:hover {
  background: #c04446;
  border: solid 3px #c04446;
}

@media (max-width: 450px) {
  .popUp {
    font-size: 1rem;
    padding: 20px 30px;
    min-width: 320px;
  }

  .buttonsContainer {
    flex-direction: column; /* Instead of row */
    gap: 15px;
  }
}

@media (min-width: 1400px) {
  .popUp {
    font-size: 1.4rem;
    padding: 50px 100px;
    min-width: 680px;
  }

  .popUpBodyContainer {
    min-height: 80px;
  }
}
