.darken {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  min-width: 380px;
  gap: 25px;
  background: #323138;
  border-radius: 10px;
  box-shadow: 0 0 5px #1b1b1f;
}

.nameInput {
  min-height: 120px;
}

.nameInput,
.nameInput label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  font-size: 1rem;
}

.nameInput input {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: #7a7787;
  color: white;
  border: none;
  padding: 0 15px;
  font-size: 1.2rem;
}

.nameInput input::placeholder {
  color: #b9b4cc;
}

.nameInput p {
  color: #e85a5c; /* Error message e.g. "Save name taken." */
}

@media (min-width: 1400px) {
  .popUp {
    font-size: 1.5rem;
    padding: 50px 100px;
    min-width: 680px;
  }

  .nameInput,
  .nameInput label {
    font-size: 1.2rem;
  }

  .nameInput input {
    height: 80px;
    padding: 0 20px;
    font-size: 1.3rem;
  }
}
