.base {
  aspect-ratio: 79 / 10;
}

/* MainMenu */
.nonNavigable {
  margin-bottom: 30px;
  /* Size */
  width: 500px;
}

/* Game */
.navigable {
  /* Size */
  width: 180px;
}

/* TODO: Update */
.navigable:hover {
  color: #7a7787;
}

@media (max-width: 450px) {
  .navigable {
    display: none;
  }
}
