.navigable {
  color: #f1e3d7;
  font-size: 2em;
  font-weight: 800;
  position: fixed;
  top: 30px;
  left: 40px;
  border: 1px solid blue;
}

.navigable:hover {
  color: #7a7787;
}

/* Left arrow */
.navigable::before {
  content: "\2190";
}

.title {
  background: magenta;
}
