.text {
  color: #f1e3d7;
  font-size: 2em;
  font-weight: 800;
  /* border: 1px solid blue; */
}

.navigable {
  position: fixed;
  top: 30px;
  left: 40px;
}

.navigable:hover {
  color: #7a7787;
}

/* Left arrow */
.navigable::before {
  content: "\2190";
}
