.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #37552a;
}

.disk {
  width: 75%;
  height: 75%;
  border-radius: 50%; /* Circle */
}

.dark {
  background: #090909;
  border: 2px solid #1b2029;
}

.light {
  background: #f1e3d7;
  border: 2px solid #d2bba7;
}

/* TODO: (Enhancement) Make valid tiles more obvious */
.valid {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 2px solid #22aaff;
  background: rgba(34, 170, 255, 0.2);
}

.validTile:hover {
  background: #456b35;
  cursor: pointer;
}

@media (min-width: 1400px) {
  .dark,
  .light,
  .valid {
    border-width: 3px;
  }
}
