/* Menu links styled as a button */
.asBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22aaff;
  min-width: 250px;
  max-height: 60px;
  border-radius: 10px;
  color: white;
}
