/* Menu links styled as a button */
.asBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22aaff;
  min-width: 250px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.asBtn:hover {
  color: white;
  background: #1395e6;
}
