.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22AAFF;
    width: 250px;
    height: 60px;
    border-radius: 10px;
}

.btn > .link {
    display: inline-block;
    text-align: center;
    line-height: 60px;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}