/* Menu links styled as a button */
.asBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22AAFF;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    color: white;
}