.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.nameInputContainer {
  min-height: 120px;
}

.nameInputContainer,
.nameInputContainer label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  font-size: 1rem;
}

.nameInputContainer input {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: #7a7787;
  color: white;
  border: none;
  padding: 0 15px;
  font-size: 1.2rem;
}

.nameInputContainer input::placeholder {
  color: #b9b4cc;
}

.nameInputContainer p {
  color: #e85a5c; /* Error message e.g. "Save name taken." */
}

@media (min-width: 1400px) {
  .nameInput,
  .nameInput label {
    font-size: 1.2rem;
  }

  .nameInput input {
    height: 80px;
    padding: 0 20px;
    font-size: 1.3rem;
  }
}
