.backToMainMenuContainer {
  display: flex;
  position: fixed;
  top: 30px;
  left: 40px;
  align-items: center;
  color: #f1e3d7;
  font-weight: 700;
  display: flex;
  height: 35px;
}

.backToMainMenuContainer > img {
  height: 40%;
  aspect-ratio: 68 / 35;
  margin-right: 10px;
}

.scoreboardContainer {
  display: flex;
  color: #f1e3d7;
  width: 100%;
  justify-content: space-between;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.history {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  gap: 8px;
  color: #f1e3d7;
}

.history p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  animation-name: historyFirstItem;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes historyFirstItem {
  from {
    font-size: 1.25rem;
    translate: 0 -20px;
  }
}

.history p:nth-child(2) {
  color: #7a7787;
  animation-name: historySecondItem;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes historySecondItem {
  from {
    color: #f1e3d7;
    font-weight: bold;
    font-size: 1.2rem;
    translate: 0 -30px;
  }
}

@media (min-width: 1400px) {
  .gameInfo {
    gap: 30px;
  }
}
