.backToMainMenuContainer {
  display: flex;
  position: fixed;
  top: 30px;
  left: 40px;
  align-items: center;
  color: #f1e3d7;
  font-weight: 700;
  display: flex;
  height: 35px;
}

.backToMainMenuContainer > img {
  height: 40%;
  aspect-ratio: 68 / 35;
  margin-right: 10px;
}

.scoreboardContainer {
  display: flex;
  color: #f1e3d7;
  width: 100%;
  justify-content: space-between;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.history {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  gap: 8px;
  color: #f1e3d7;
}

.history p:nth-child(1) {
  font-size: 1.2rem;
}

.history p:nth-child(2) {
  color: #7a7787;
}

.darken {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
}

.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 250px;
  background: #323138;
  border-radius: 10px;
  box-shadow: 0 0 5px #1b1b1f;
}
