.backToMainMenuContainer {
  display: flex;
  position: fixed;
  top: 30px;
  left: 40px;
  align-items: center;
  color: #f1e3d7;
  font-weight: 700;
  display: flex;
  height: 35px;
}

.backToMainMenuContainer > img {
  height: 40%;
  aspect-ratio: 68 / 35;
  margin-right: 10px;
}

.scoreboardContainer {
  display: flex;
  color: #f1e3d7;
  width: 100%;
  justify-content: space-between;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.history {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  gap: 8px;
  color: #f1e3d7;
}

.history p:nth-child(1) {
  font-size: 1.2rem;
}

.history p:nth-child(2) {
  color: #7a7787;
}

/* Score, and player name */
.playerInfo {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

/* Player name */
.playerInfo > span {
  margin: 0 12px;
}

.scoreDiskBackground {
  width: 30px;
  height: 30px;
  line-height: 30px; /* Centre text */
  font-weight: bold;
  border-radius: 50%;
}

.dark {
  color: #f1e3d7;
  background: #090909;
  outline: 2px solid #1b2029;
}

.light {
  color: #090909;
  background: #f1e3d7;
  outline: 2px solid #d2bba7;
}
