.backToMainMenuContainer {
  display: flex;
  position: fixed;
  top: 30px;
  left: 40px;
  align-items: center;
  color: #f1e3d7;
  font-weight: 700;
  display: flex;
  height: 35px;
}

.backToMainMenuContainer > img {
  height: 40%;
  aspect-ratio: 68 / 35;
  margin-right: 10px;
}

.scoreboardContainer {
  display: flex;
  color: #f1e3d7;
  width: 100%;
  justify-content: space-between;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.history {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  gap: 8px;
  color: #f1e3d7;
}

.history p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  animation-name: historyFirstItem;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  --animation-initial-font-size: 1.25rem; /* Make initial font bigger when it first renders */
  --animation-initial-offset: -20px /* Where text should "come in" from */;
}

@keyframes historyFirstItem {
  from {
    font-size: var(--animation-initial-font-size);
    translate: 0 var(--animation-initial-offset);
  }
}

.history p:nth-child(2) {
  color: #7a7787;
  animation-name: historySecondItem;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  --animation-initial-font-size: 1.2rem;
  --animation-initial-offset: -30px;
}

@keyframes historySecondItem {
  from {
    color: #f1e3d7;
    font-weight: bold;
    font-size: var(--animation-initial-font-size);
    translate: 0 var(--animation-initial-offset);
  }
}

@media (min-width: 1400px) {
  .gameInfo {
    gap: 30px;
  }

  .history {
    min-height: 90px;
    gap: 10px;
  }

  .history p:nth-child(1) {
    font-size: 1.5rem;
    --animation-initial-font-size: 1.6rem;
    --animation-initial-offset: -30px;
  }

  .history p:nth-child(2) {
    font-size: 1.2rem;
    --animation-initial-font-size: 1.5rem;
    --animation-initial-offset: -40px;
  }
}
