.logo {
  display: flex;
  color: #f1e3d7;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  position: fixed;
  top: 30px;
  left: 40px;
  align-items: center;
}

.logo:hover {
  color: #7a7787;
}

/* Back arrow */
.logo::before {
  content: "\2190";
  font-size: 1rem;
  padding-right: 5px;
  color: #7a7787;
}
