/* TODO: Add responsiveness for mobile screens */

.header {
  /* Header is logo + button */
  display: flex;
  flex-direction: row;
}

.saveButton {
  position: fixed;
  right: 40px;
  top: 30px;
  font-size: 1rem;
  min-width: 120px;
  height: 40px;
  padding: 10px 10px;
}

.backToMainMenuContainer {
  display: flex;
  position: fixed;
  top: 30px;
  left: 40px;
  align-items: center;
  color: #f1e3d7;
  font-weight: 700;
  /* Override global .btn CSS */
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
}

/* Override global .btn CSS */
.backToMainMenuContainer:hover {
  background: none;
}

.backToMainMenuContainer > img {
  width: 30px;
  aspect-ratio: 68 / 35;
  margin-right: 10px;
}

.scoreboardContainer {
  display: flex;
  color: #f1e3d7;
  width: 100%;
  justify-content: space-between;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.history {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  justify-content: space-between;
  color: #f1e3d7;
}

.history p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  animation-name: historyFirstItem;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  --animation-initial-font-size: 0.5rem; /* Font is smaller when animation starts */
  --animation-initial-offset: -20px; /* Text comes in from the top */
}

@keyframes historyFirstItem {
  from {
    font-size: var(--animation-initial-font-size);
    translate: 0 var(--animation-initial-offset);
  }
}

.history p:nth-child(2) {
  color: #7a7787;
  animation-name: historySecondItem;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  --animation-initial-font-size: 1.2rem;
  --animation-initial-offset: -30px;
}

.loading {
  width: 40px;
  aspect-ratio: 1;
  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.saveOutcomeContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #7a7787;
}

.ok {
  color: #48ca48;
}

.fail {
  color: #e85a5c;
}

.uuid {
  display: flex;
  background-color: #7a7787;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  gap: 20px;
}

.uuid p {
  color: white;
  font-size: 1.2rem;
}

.uuid button {
  font-size: 1rem;
  min-width: 80px;
  padding: 8px 10px;
}

.copyButtonClicked {
  animation-name: flash;
  animation-duration: 1s;
}

.copyButtonClicked button:disabled {
  /* Disable button for 1s to let animation run to completion */
  background: #48ca48;
  border: 3px solid #48ca48;
}

@keyframes historySecondItem {
  from {
    color: #f1e3d7;
    font-weight: bold;
    font-size: var(--animation-initial-font-size);
    translate: 0 var(--animation-initial-offset);
  }
}

@keyframes flash {
  from {
    background: #b7b3c7;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mobile screens */
@media (max-width: 450px) {
  .saveButton {
    min-width: 80px;
    /* Stick closer to edges */
    right: 25px;
    top: 22px;
  }

  .backToMainMenuContainer {
    left: 25px;
    top: 24px;
  }
}

/* Large screens */
@keyframes flash {
  from {
    background: #b7b3c7;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mobile screens */
@media (max-width: 450px) {
  .saveButton {
    min-width: 80px;
    /* Stick closer to edges */
    right: 25px;
    top: 22px;
  }

  .backToMainMenuContainer {
    left: 25px;
    top: 24px;
  }
}

/* Large screens */
@media (min-width: 1400px) {
  .header button {
    font-size: 1.3rem;
    min-width: 160px;
    height: 50px;
  }

  .gameInfo {
    gap: 30px;
  }

  .history {
    min-height: 65px;
    gap: 10px;
  }

  .history p:nth-child(1) {
    font-size: 1.5rem;
    --animation-initial-font-size: 0.6rem;
    --animation-initial-offset: -30px;
  }

  .history p:nth-child(2) {
    font-size: 1.2rem;
    --animation-initial-font-size: 1.5rem;
    --animation-initial-offset: -40px;
  }

  .uuid {
    font-size: 1.6rem;
  }
}
