.backToMenuContainer {
  display: flex;
  position: fixed;
  top: 30px;
  left: 40px;
  align-items: center;
  color: #f1e3d7;
  font-weight: 700;
  display: flex;
  height: 35px;
}

.backToMenuContainer > h1 {
  display: flex;
  gap: 5px;
}

.backToMenuContainer:hover {
  color: #7a7787;
}

.backToMenuContainer > img {
  height: 40%;
  aspect-ratio: 68 / 35;
  margin-right: 10px;
}

/* Flipped 'E' in logo */
.flipped {
  display: inline-block;
  transform: scaleX(-1);
}
