.backToMainMenuContainer {
  display: flex;
  position: fixed;
  top: 30px;
  left: 40px;
  align-items: center;
  color: #f1e3d7;
  font-weight: 700;
  display: flex;
  height: 35px;
}

.backToMainMenuContainer > img {
  height: 40%;
  aspect-ratio: 68 / 35;
  margin-right: 10px;
}