.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.inputContainer,
.inputContainer label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  font-size: 1rem;
}

.hint {
  /* Input hint */
  text-align: start;
  font-size: 0.8rem;
  color: #b9b4cc;
}

.inputContainer input {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: #7a7787;
  color: white;
  border: none;
  padding: 0 15px;
  font-size: 1.2rem;
}

.inputContainer input:disabled {
  background: grey;
  cursor: not-allowed;
}

.inputContainer input::placeholder {
  color: #b9b4cc;
}

.notLoading {
  color: #e85a5c; /* If not loading, it displays an error message by default */
}

.loading {
  color: white;
}

@media (max-width: 450px) {
  .buttonsContainer {
    flex-direction: column; /* Instead of row */
    gap: 15px;
  }

  .inputContainer input::placeholder {
    font-size: 0.75rem;
  }
}

@media (min-width: 1400px) {
  .inputContainer,
  .inputContainer label {
    font-size: 1.2rem;
  }

  .inputContainer input {
    height: 80px;
    padding: 0 20px;
    font-size: 1.3rem;
  }
}
