:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #323138;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

/* React root same dimensions body */
#root {
  width: 100%;
  height: 100%;
}

a {
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

/* TODO: Change according to Figma */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
