:root {
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #323138;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* React root same dimensions body */
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

a {
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  text-align: center;
}

/* Custom button */
.btn {
  font-size: 1rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  padding: 15px;
  background: #22aaff;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background: #1395e6;
}
