:root {
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #323138;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* React root same dimensions body */
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  text-align: center;
}

/* Custom button */
.btn {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #22aaff;
  border-radius: 10px;
  border: 3px solid #22aaff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  min-width: 250px;
  padding: 20px;
  font-size: 1.2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn:hover {
  color: white;
  border-color: #1395e6;
  background: #1395e6;
}

.secondaryBtn {
  background: none;
  border-radius: 10px;
  border: 3px solid #22aaff;
}

.secondaryBtn:hover {
  color: white;
  border-color: white;
  background: #22aaff20;
}

@media (min-width: 1400px) {
  .btn {
    font-size: 1.5rem;
    min-width: 250px;
    padding: 20px;
  }
}
